.mcHero {
	height: 550px;
	background-color: #48d1cc;
}

.mcBanner {
    text-align: center;
    font-size: 45px;
	font-weight: 600; 
    color: white;
    width : 100%;
    margin-top:40px;
}

.mcDescBox {
	background-color : white;
	color : #37517e;
	font: 15px bold;
	margin-top: 25px;
	margin-bottom: -20px;
	padding : 35px;
	text-align: left;
	border-radius: 20px;
}

.mcDescBox span {
	font-size: 18px;
}

.mcSelect {
	background-color : #f3f5fa;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding : 10px;
}

        
.mcSelect table {
    width: 100%;
    border-collapse: collapse;
}

#selects {
    display: flex;
}

#selects select {
    width: 45%; 
    margin-right: 20px;
}

.mcSelect table td:nth-child(1) {
    width: 150px;
    color: #37517e;
    text-align: center;
    font-size: 18px;
	font-weight: 600;
}

.mcSelect table td:nth-child(3) {
    width: 150px;
    color: #37517e;
    text-align: center;
    font-size: 18px;
	font-weight: 600;
}

.mcSelect table th, .mcSelect table td {
    padding: 15px;
    text-align: left;
}

.mcSelect table th {
    background-color: #f2f2f2;
}


.mcSelect table select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

.mcSelect table input[type="radio"] {
    margin-right: 5px;
}

.mcSelect table button {
    padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    float: right;
    font-weight: 600;
}

.mcSelect table button:hover {
    background-color: #37517e;
}

.mcSelect table tr {
    border-bottom: 1px solid #ddd;
}

.mcSelect table label {
	margin-right: 30px;
}

.mcResultSection{
	display: none;
	margin-top : -60px;
}

.mcResult {
	background-color : #f3f5fa;
	padding : 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.mcResult table {
	width: 100%;
    border-collapse: collapse;
}

.mcResult table th, .mcResult table td {
    padding: 6px;
    text-align: center;
}

.mcResult table thead {
	color: #37517e;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
	height: 50px;
}

.mcResult table tbody tr:hover {
    background-color:  rgba(255, 255, 255, 0.7); 
}




.mcUploadArea button {
    padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.mcUploadArea button:hover {
    background-color: #37517e;
}

#mcPublicBtn, #mcPrivateBtn {
	float: left;
	margin-top: 20px;
    margin-right:15px;
}

.mcUploadArea input {
	 margin-top: 27px;
	 margin-left: 10px;
}

#mcUploadBtn {
	float: right;
	height: 75px;
	clear: both; /* float 속성 해제 */
	width : 12%;
}




.mcBoardPreviewSection {
	background-color : #f3f5fa
}

.mcBoardPreview {
	background-color : #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding : 10px;
}

.mcBoardPreview table {
	width: 100%;
    border-collapse: collapse;
}

.mcBoardPreview table thead {
	color: #37517e;
	font-size: 18px;
	font-weight: 600;
	border-bottom: 1px solid #ddd;
	height: 50px;
}

.mcBoardPreview table th, .mcBoardPreview table td {
    padding: 6px;
    text-align: center;
}

.mcBoardPreview table td a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크 색상을 부모 요소에서 상속 */
}

.mcBoardPreview table td a:hover {
    text-decoration: underline;
}

.comment_count {
	color: brown;
	font-weight: 600;
	font-size: 14px;
}

.mcBoardPreview table td:nth-child(1), .mcBoardPreview table th:nth-child(1) {
	width: 10%;
}

.mcBoardPreview table td:nth-child(2), .mcBoardPreview table th:nth-child(2) {
	width: 40%;
}

.mcBoardPreview table td:nth-child(3), .mcBoardPreview table th:nth-child(3), .mcBoardPreview table td:nth-child(4), .mcBoardPreview table th:nth-child(4) {
	width: 20%;
}


#gotoMcBoard {
    padding: 10px 20px;
    background-color: #48d1cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

#gotoMcBoard:hover {
    background-color: #37517e;
}

#gotoMcBoard {
	float: right;
	margin-top: 20px;
}



table label {
	margin-left: 5px;
	
}


#mcStartArea {
	display:none;
}