<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<!-- ========================admin 영역======================== -->
		<typeAlias
			type="com.myedumyselect.admin.openapi.data.vo.AcademySourceVO"
			alias="academySource" />
		<typeAlias
			type="com.myedumyselect.admin.login.vo.AdminLoginVO"
			alias="adminLogin" />

		<!-- ========================maching 영역======================== -->
		<typeAlias
			type="com.myedumyselect.matching.board.vo.MatchingBoardVO"
			alias="matchingBoard" />

		<typeAlias
			type="com.myedumyselect.matching.comment.vo.MatchingCommentVO"
			alias="matchingComment" />

		<!-- ========================academy 영역======================== -->
		<typeAlias type="com.myedumyselect.academy.vo.AcademyLoginVo"
			alias="academyLogin" />

		<!-- ========================Payment 영역======================== -->
		<typeAlias type="com.myedumyselect.payment.vo.PaymentVO"
			alias="payment" />
		<!-- ========================Board 영역======================== -->
		<typeAlias
			type="com.myedumyselect.commonboard.free.vo.FreeVO" alias="freeBoard" />
		<typeAlias
			type="com.myedumyselect.commonboard.notice.vo.NoticeBoardVO" alias="notice" />
		<!-- ========================personal 영역======================== -->

		<typeAlias
			type="com.myedumyselect.personal.vo.PersonalLoginVO"
			alias="personalLogin" />
	</typeAliases>


</configuration>